@page
@model ExperienciaModel
@{
    ViewData["Title"] = "Experiencia";
}

<section class="cv-section">
    <div class="container">
        <h1 class="display-4 mb-4">Experiencia</h1>
        <div class="list-group">
            <div class="list-group-item">
                <h5 class="mb-1">AIRBUS Web Developer</h5>
                <small class="text-muted">AIRBUS | Sept 2024 - Actualidad</small>
                <p class="mb-1">
                    Diseño y desarrollo de APIs web robustas y aplicaciones web
                    escalables utilizando Entity Framework Core y ASP.NET Core.
                    Implementación de autenticación y autorización de usuarios con
                    Microsoft Identity y JWT (JSON Web Tokens) para garantizar un
                    control de acceso seguro.
                    Migración de múltiples aplicaciones de .NET 6 a .NET 8, mejorando el
                    rendimiento, la seguridad y aprovechando nuevas funcionalidades
                    del framework.
                    Adaptación de una aplicación para integrar MinIO (servidor de
                    almacenamiento de objetos compatible con S3 y de alto rendimiento)
                    para un almacenamiento de archivos optimizado y escalable.
                    Desarrollé funciones personalizadas para migrar de forma fluida los
                    archivos existentes a la infraestructura de MinIO.
                    Integración de servicios de correo electrónico y notificaciones en
                    tiempo real, mejorando la eficiencia de la comunicación en más de un
                    30% y reduciendo las intervenciones manuales.
                    Mantenimiento y optimización aplicaciones tanto heredadas como
                    modernas utilizando ASP.NET Framework y ASP.NET Core,
                    asegurando su rendimiento y estabilidad continuos.
                    Resolución de más de 50 incidencias reportadas por clientes,
                    mejorando significativamente la funcionalidad, estabilidad y
                    experiencia general del usuario en los sitios web.
                    Aplicación de buenas prácticas en código limpio, arquitectura de
                    aplicaciones y revisiones de código entre pares, garantizando un alto
                    cumplimiento de los estándares de codificación y fomentando la
                    escalabilidad y el mantenimiento a largo plazo.
                </p>
            </div>

            <div class="list-group-item">
                <h5 class="mb-1">[Puesto]</h5>
                <small class="text-muted">[Empresa] | [Fecha inicio] - [Fecha fin]</small>
                <p class="mb-1">Descripción breve de tus responsabilidades y logros en este puesto.</p>
            </div>
            <!-- Repite este bloque para cada experiencia -->
        </div>
    </div>
</section>
