@page
@model ProyectosModel
@{
    ViewData["Title"] = "Proyectos Destacados";
}
<section class="proyectos-destacados">
    <h4>Proyectos:</h4>
    <div class="grid-proyectos">
        @foreach (var proyecto in Model.Proyectos)
        {
            <a href="@proyecto.Enlace" target="_blank" class="proyecto">
                <img src="@proyecto.LogoUrl" alt="@proyecto.Nombre" />
                <span>@proyecto.Nombre</span>
            </a>
        }
    </div>
</section>

