@page
@model SobreMiModel
@{
    ViewData["Title"] = "Sobre mí";
}

<section class="cv-section">
    <div class="container">
        <h1 class="display-4 mb-4">Sobre mí</h1>
        <p>
            Graduado en Ingeniería Informática por la Universidad Politécnica de Valencia, con experiencia en desarrollo de software, especialmente utilizando tecnologías como .NET, C#, Razor Pages y SQL Server Management. He implementado soluciones completas, desde el diseño de frontends hasta el manejo de backends, integrando funcionalidades como autenticación de usuarios y validación de datos. También poseo experiencia en otros lenguajes de programación y gestión de redes sociales, alcanzando cifras de hasta 170.000 seguidores.
            Busco oportunidades en áreas como Ciberseguridad, Inteligencia Artificial, Análisis de Datos, Desarrollo de Aplicaciones, Administración de Sistemas y Gestión de Proyectos. Estoy abierto a roles que me permitan aplicar y ampliar mis conocimientos, contribuyendo al éxito de la organización.
        </p>
        <ul>
            <li><strong>Nombre:</strong> Luis </li>
            <li><strong>Ubicación:</strong> [Valencia, España]</li>
            <li><strong>Email:</strong> <a href="mailto:luisgarciagascon@gmail.com">luisgarciagascon@gmail.com</a></li>
        </ul>
    </div>
</section>
